.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 900px;
    background-color: rgb(245, 237, 227) ;
    box-shadow:0 0 10px black, 0 0 20px black ;
  border-radius: 20px;
}
.h1{text-align: center;
font-size: 150px;
margin-top: -10px;
font-weight: 900;
letter-spacing: 10px;
}
.h3{
    text-align: center;
    margin-top:-140px;
    font-size: 50px;
    color: rgb(168, 63, 63);
   border-bottom: 4px solid black;
}
.p{margin-top:-40px;
}
.flex{   
    display: flex;
    justify-content: space-between;

}
.img1 {  
width: 300px;
height: 197px;
box-shadow:0 0 0px black, 0 0 20px black ;
}

.img3{
width: 570px;
height: 400px;
box-shadow:0 0 10px black, 0 0 20px black ;
}
.h2{ text-align: center;
    background-color : rgb(168, 63, 63);
    font-size: 60px;
    color: white;
    margin-top: -2px;
}
.part{
margin-top: -100px;
margin-left: 20px;
}

.part01{
    color:rgb(168, 63, 63);
    font-size: 50px;
}

.part02{   color:rgb(168, 63, 63);
    font-size: 50px;
  margin-top: -20px;

}
